In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')

%matplotlib inline 
%config InlineBackend.figure_format = 'retina'

In [2]:
import os

files = os.listdir(os.getcwd())
print('files ... {}'.format(files))

files ... ['U.S. Census Data.csv', '.ipynb_checkpoints', 'Guns.ipynb', 'gun_data.xlsx']

## FBI 枪支数据

该数据来自联邦调查局 (FBI) 的全国即时犯罪背景调查系统 (NICS)。NICS 用于确定潜在买家是否有资格购买枪支或爆炸物。枪支店可以进入这个系统，以确保每位客户没有犯罪记录或符合资格购买。该数据已经收纳了来自 census.gov 的州级数据作为补充数据。NICS 数据在一个 xlsx 文件格式的一个表格中，它包含了按照月份 (month)、州 (state) 、类型 (type) 统计的武器调查数量 (the number of firearm checks) ;美国的人口普查数据 (U.S. census data) 储存在一个 csv 文件中。它包含了州级的几个变量，每个州的大多数变量在 2016 年只有一个数据点，但一些变量有一年以上的数据。

### 1.查看，观察数据

In [3]:
df_census = pd.read_csv('U.S. Census Data.csv')
df_census.head()

,Fact,Fact Note,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"Population estimates, July 1, 2016, (V2016)",NaN,"4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"Population estimates base, April 1, 2010, (V2...",NaN,"4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"
2,"Population, percent change - April 1, 2010 (es...",NaN,1.70%,4.50%,8.40%,2.50%,5.40%,10.20%,0.10%,6.00%,...,0.063,0.048,10.80%,10.40%,-0.20%,5.10%,8.40%,-1.20%,1.60%,3.90%
3,"Population, Census, April 1, 2010",NaN,"4,779,736","710,231","6,392,017","2,915,918","37,253,956","5,029,196","3,574,097","897,934",...,814180,6346105,"25,145,561","2,763,885","625,741","8,001,024","6,724,540","1,852,994","5,686,986","563,626"
4,"Persons under 5 years, percent, July 1, 2016, ...",NaN,6.00%,7.30%,6.30%,6.40%,6.30%,6.10%,5.20%,5.80%,...,0.071,0.061,7.20%,8.30%,4.90%,6.10%,6.20%,5.50%,5.80%,6.50%

In [4]:
df_gun = pd.read_excel('gun_data.xlsx')
df_gun.head()

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2017-09,Alabama,16717.0,0.0,5734.0,6320.0,221.0,317,0.0,15.0,...,0.0,0.0,0.0,9.0,16.0,3.0,0.0,0.0,3.0,32019
1,2017-09,Alaska,209.0,2.0,2320.0,2930.0,219.0,160,0.0,5.0,...,0.0,0.0,0.0,17.0,24.0,1.0,0.0,0.0,0.0,6303
2,2017-09,Arizona,5069.0,382.0,11063.0,7946.0,920.0,631,0.0,13.0,...,0.0,0.0,0.0,38.0,12.0,2.0,0.0,0.0,0.0,28394
3,2017-09,Arkansas,2935.0,632.0,4347.0,6063.0,165.0,366,51.0,12.0,...,0.0,0.0,0.0,13.0,23.0,0.0,0.0,2.0,1.0,17747
4,2017-09,California,57839.0,0.0,37165.0,24581.0,2984.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,123506

In [5]:
df_census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 52 columns):
Fact              80 non-null object
Fact Note         28 non-null object
Alabama           65 non-null object
Alaska            65 non-null object
Arizona           65 non-null object
Arkansas          65 non-null object
California        65 non-null object
Colorado          65 non-null object
Connecticut       65 non-null object
Delaware          65 non-null object
Florida           65 non-null object
Georgia           65 non-null object
Hawaii            65 non-null object
Idaho             65 non-null object
Illinois          65 non-null object
Indiana           65 non-null object
Iowa              65 non-null object
Kansas            65 non-null object
Kentucky          65 non-null object
Louisiana         65 non-null object
Maine             65 non-null object
Maryland          65 non-null object
Massachusetts     65 non-null object
Michigan          65 non-null object
Minnesota         65 non-null object
Mississippi       65 non-null object
Missouri          65 non-null object
Montana           65 non-null object
Nebraska          65 non-null object
Nevada            65 non-null object
New Hampshire     65 non-null object
New Jersey        65 non-null object
New Mexico        65 non-null object
New York          65 non-null object
North Carolina    65 non-null object
North Dakota      65 non-null object
Ohio              65 non-null object
Oklahoma          65 non-null object
Oregon            65 non-null object
Pennsylvania      65 non-null object
Rhode Island      65 non-null object
South Carolina    65 non-null object
South Dakota      65 non-null object
Tennessee         65 non-null object
Texas             65 non-null object
Utah              65 non-null object
Vermont           65 non-null object
Virginia          65 non-null object
Washington        65 non-null object
West Virginia     65 non-null object
Wisconsin         65 non-null object
Wyoming           65 non-null object
dtypes: object(52)
memory usage: 34.6+ KB

In [7]:
df_census.Fact.values

array(['Population estimates, July 1, 2016,  (V2016)',
       'Population estimates base, April 1, 2010,  (V2016)',
       'Population, percent change - April 1, 2010 (estimates base) to July 1, 2016,  (V2016)',
       'Population, Census, April 1, 2010',
       'Persons under 5 years, percent, July 1, 2016,  (V2016)',
       'Persons under 5 years, percent, April 1, 2010',
       'Persons under 18 years, percent, July 1, 2016,  (V2016)',
       'Persons under 18 years, percent, April 1, 2010',
       'Persons 65 years and over, percent,  July 1, 2016,  (V2016)',
       'Persons 65 years and over, percent, April 1, 2010',
       'Female persons, percent,  July 1, 2016,  (V2016)',
       'Female persons, percent, April 1, 2010',
       'White alone, percent, July 1, 2016,  (V2016)',
       'Black or African American alone, percent, July 1, 2016,  (V2016)',
       'American Indian and Alaska Native alone, percent, July 1, 2016,  (V2016)',
       'Asian alone, percent, July 1, 2016,  (V2016)',
       'Native Hawaiian and Other Pacific Islander alone, percent, July 1, 2016,  (V2016)',
       'Two or More Races, percent, July 1, 2016,  (V2016)',
       'Hispanic or Latino, percent, July 1, 2016,  (V2016)',
       'White alone, not Hispanic or Latino, percent, July 1, 2016,  (V2016)',
       'Veterans, 2011-2015', 'Foreign born persons, percent, 2011-2015',
       'Housing units,  July 1, 2016,  (V2016)',
       'Housing units, April 1, 2010',
       'Owner-occupied housing unit rate, 2011-2015',
       'Median value of owner-occupied housing units, 2011-2015',
       'Median selected monthly owner costs -with a mortgage, 2011-2015',
       'Median selected monthly owner costs -without a mortgage, 2011-2015',
       'Median gross rent, 2011-2015', 'Building permits, 2016',
       'Households, 2011-2015', 'Persons per household, 2011-2015',
       'Living in same house 1 year ago, percent of persons age 1 year+, 2011-2015',
       'Language other than English spoken at home, percent of persons age 5 years+, 2011-2015',
       'High school graduate or higher, percent of persons age 25 years+, 2011-2015',
       "Bachelor's degree or higher, percent of persons age 25 years+, 2011-2015",
       'With a disability, under age 65 years, percent, 2011-2015',
       'Persons  without health insurance, under age 65 years, percent',
       'In civilian labor force, total, percent of population age 16 years+, 2011-2015',
       'In civilian labor force, female, percent of population age 16 years+, 2011-2015',
       'Total accommodation and food services sales, 2012 ($1,000)',
       'Total health care and social assistance receipts/revenue, 2012 ($1,000)',
       'Total manufacturers shipments, 2012 ($1,000)',
       'Total merchant wholesaler sales, 2012 ($1,000)',
       'Total retail sales, 2012 ($1,000)',
       'Total retail sales per capita, 2012',
       'Mean travel time to work (minutes), workers age 16 years+, 2011-2015',
       'Median household income (in 2015 dollars), 2011-2015',
       'Per capita income in past 12 months (in 2015 dollars), 2011-2015',
       'Persons in poverty, percent',
       'Total employer establishments, 2015', 'Total employment, 2015',
       'Total annual payroll, 2015 ($1,000)',
       'Total employment, percent change, 2014-2015',
       'Total nonemployer establishments, 2015', 'All firms, 2012',
       'Men-owned firms, 2012', 'Women-owned firms, 2012',
       'Minority-owned firms, 2012', 'Nonminority-owned firms, 2012',
       'Veteran-owned firms, 2012', 'Nonveteran-owned firms, 2012',
       'Population per square mile, 2010',
       'Land area in square miles, 2010', 'FIPS Code', nan,
       'NOTE: FIPS Code values are enclosed in quotes to ensure leading zeros remain intact.',
       nan, 'Value Notes', '1', nan, 'Fact Notes', '(a)', '(b)', '(c)',
       nan, 'Value Flags', '-', 'D', 'F', 'FN', nan, 'S', 'X', 'Z'], dtype=object)

In [15]:
df_census['Fact Note'].unique()

array([nan, '(a)', '(b)', '(c)',
       'Includes data not distributed by county.',
       'Includes persons reporting only one race',
       'Hispanics may be of any race, so also are included in applicable race categories',
       'Economic Census - Puerto Rico data are not comparable to U.S. Economic Census data',
       'Either no or too few sample observations were available to compute an estimate, or a ratio of medians cannot be calculated because one or both of the median estimates falls in the lowest or upper interval of an open ended distribution.',
       'Suppressed to avoid disclosure of confidential information',
       'Fewer than 25 firms', 'Footnote on this item in place of data',
       'Not available', 'Suppressed; does not meet publication standards',
       'Not applicable',
       'Value greater than zero but less than half unit of measure shown'], dtype=object)

In [8]:
df_gun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12485 entries, 0 to 12484
Data columns (total 27 columns):
month                        12485 non-null object
state                        12485 non-null object
permit                       12461 non-null float64
permit_recheck               1100 non-null float64
handgun                      12465 non-null float64
long_gun                     12466 non-null float64
other                        5500 non-null float64
multiple                     12485 non-null int64
admin                        12462 non-null float64
prepawn_handgun              10542 non-null float64
prepawn_long_gun             10540 non-null float64
prepawn_other                5115 non-null float64
redemption_handgun           10545 non-null float64
redemption_long_gun          10544 non-null float64
redemption_other             5115 non-null float64
returned_handgun             2200 non-null float64
returned_long_gun            2145 non-null float64
returned_other               1815 non-null float64
rentals_handgun              990 non-null float64
rentals_long_gun             825 non-null float64
private_sale_handgun         2750 non-null float64
private_sale_long_gun        2750 non-null float64
private_sale_other           2750 non-null float64
return_to_seller_handgun     2475 non-null float64
return_to_seller_long_gun    2750 non-null float64
return_to_seller_other       2255 non-null float64
totals                       12485 non-null int64
dtypes: float64(23), int64(2), object(2)
memory usage: 2.6+ MB

In [10]:
states = df_gun.state.unique()
len(states), states

(55, array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
        'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
        'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho', 'Illinois',
        'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine',
        'Mariana Islands', 'Maryland', 'Massachusetts', 'Michigan',
        'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska',
        'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
        'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
        'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina',
        'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
        'Virgin Islands', 'Virginia', 'Washington', 'West Virginia',
        'Wisconsin', 'Wyoming'], dtype=object))

可以看出来数据比较多，两个表均包含各个州的数据，<br>
所以后边仅挑出New York的数据做对照分析，以方便得出结论

## 数据清理

In [13]:
df_gun_new_york = df_gun.query("state == 'New York'")
df_gun_new_york.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 227 entries, 34 to 12464
Data columns (total 27 columns):
month                        227 non-null object
state                        227 non-null object
permit                       227 non-null float64
permit_recheck               20 non-null float64
handgun                      227 non-null float64
long_gun                     227 non-null float64
other                        100 non-null float64
multiple                     227 non-null int64
admin                        227 non-null float64
prepawn_handgun              192 non-null float64
prepawn_long_gun             192 non-null float64
prepawn_other                93 non-null float64
redemption_handgun           192 non-null float64
redemption_long_gun          192 non-null float64
redemption_other             93 non-null float64
returned_handgun             40 non-null float64
returned_long_gun            39 non-null float64
returned_other               33 non-null float64
rentals_handgun              18 non-null float64
rentals_long_gun             15 non-null float64
private_sale_handgun         50 non-null float64
private_sale_long_gun        50 non-null float64
private_sale_other           50 non-null float64
return_to_seller_handgun     45 non-null float64
return_to_seller_long_gun    50 non-null float64
return_to_seller_other       41 non-null float64
totals                       227 non-null int64
dtypes: float64(23), int64(2), object(2)
memory usage: 49.7+ KB

In [14]:
df_gun_new_york.to_csv('gun_data_new_york.csv', index=False)

In [20]:
df_census.columns

Index(['Fact', 'Fact Note', 'Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida',
       'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia',
       'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object')

In [42]:
df_census_new_york = df_census.drop(['Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida',
       'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
        'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia',
       'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'], axis=1)
df_census_new_york.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 3 columns):
Fact         80 non-null object
Fact Note    28 non-null object
New York     65 non-null object
dtypes: object(3)
memory usage: 2.1+ KB

In [43]:
df_census_new_york.rename(index=str, columns={'New York': 'data'}, inplace=True)
df_census_new_york.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85 entries, 0 to 84
Data columns (total 3 columns):
Fact         80 non-null object
Fact Note    28 non-null object
data         65 non-null object
dtypes: object(3)
memory usage: 2.7+ KB

删除纽约数据为空的行

In [44]:
df_census_new_york = df_census_new_york[df_census_new_york.data.notnull()]

In [45]:
df_census_new_york.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65 entries, 0 to 64
Data columns (total 3 columns):
Fact         65 non-null object
Fact Note    16 non-null object
data         65 non-null object
dtypes: object(3)
memory usage: 4.5+ KB

In [46]:
df_census_new_york

,Fact,Fact Note,data
0,"Population estimates, July 1, 2016, (V2016)",NaN,19745289
1,"Population estimates base, April 1, 2010, (V2...",NaN,19378110
2,"Population, percent change - April 1, 2010 (es...",NaN,0.019
3,"Population, Census, April 1, 2010",NaN,19378102
4,"Persons under 5 years, percent, July 1, 2016, ...",NaN,0.059
5,"Persons under 5 years, percent, April 1, 2010",NaN,0.06
6,"Persons under 18 years, percent, July 1, 2016,...",NaN,0.212
7,"Persons under 18 years, percent, April 1, 2010",NaN,0.223
8,"Persons 65 years and over, percent, July 1, 2...",NaN,0.154
9,"Persons 65 years and over, percent, April 1, 2010",NaN,0.135
10,"Female persons, percent, July 1, 2016, (V2016)",NaN,0.514
11,"Female persons, percent, April 1, 2010",NaN,0.516
12,"White alone, percent, July 1, 2016, (V2016)",(a),0.699
13,"Black or African American alone, percent, July...",(a),0.177
14,"American Indian and Alaska Native alone, perce...",(a),0.01
15,"Asian alone, percent, July 1, 2016, (V2016)",(a),0.089
16,Native Hawaiian and Other Pacific Islander alo...,(a),0.001
17,"Two or More Races, percent, July 1, 2016, (V2...",NaN,0.025
18,"Hispanic or Latino, percent, July 1, 2016, (V...",(b),0.19
19,"White alone, not Hispanic or Latino, percent, ...",NaN,0.558
20,"Veterans, 2011-2015",NaN,828586
21,"Foreign born persons, percent, 2011-2015",NaN,0.225
22,"Housing units, July 1, 2016, (V2016)",NaN,8231687
23,"Housing units, April 1, 2010",NaN,8108103
24,"Owner-occupied housing unit rate, 2011-2015",NaN,0.536
25,"Median value of owner-occupied housing units, ...",NaN,283400
26,Median selected monthly owner costs -with a mo...,NaN,2022
27,Median selected monthly owner costs -without a...,NaN,709
28,"Median gross rent, 2011-2015",NaN,1132
29,"Building permits, 2016",NaN,33711
...,...,...,...
35,"Bachelor's degree or higher, percent of person...",NaN,0.342
36,"With a disability, under age 65 years, percent...",NaN,0.074
37,"Persons without health insurance, under age 6...",NaN,0.07
38,"In civilian labor force, total, percent of pop...",NaN,0.633
39,"In civilian labor force, female, percent of po...",NaN,0.587
40,"Total accommodation and food services sales, 2...",(c),49285508
41,Total health care and social assistance receip...,(c),155666053
42,"Total manufacturers shipments, 2012 ($1,000)",(c),148879931
43,"Total merchant wholesaler sales, 2012 ($1,000)",(c),341734970
44,"Total retail sales, 2012 ($1,000)",(c),251167736
45,"Total retail sales per capita, 2012",(c),12834
46,"Mean travel time to work (minutes), workers ag...",NaN,32.3
47,"Median household income (in 2015 dollars), 201...",NaN,59269
48,Per capita income in past 12 months (in 2015 d...,NaN,33236
49,"Persons in poverty, percent",NaN,0.147
50,"Total employer establishments, 2015",Includes data not distributed by county.,540298
51,"Total employment, 2015",Includes data not distributed by county.,7998994
52,"Total annual payroll, 2015 ($1,000)",Includes data not distributed by county.,513083321
53,"Total employment, percent change, 2014-2015",Includes data not distributed by county.,0.018
54,"Total nonemployer establishments, 2015",NaN,1685636
55,"All firms, 2012",NaN,2008988
56,"Men-owned firms, 2012",NaN,1139910
57,"Women-owned firms, 2012",NaN,725709
58,"Minority-owned firms, 2012",NaN,709021
59,"Nonminority-owned firms, 2012",NaN,1248304
60,"Veteran-owned firms, 2012",NaN,137532
61,"Nonveteran-owned firms, 2012",NaN,1811544
62,"Population per square mile, 2010",NaN,411.2
63,"Land area in square miles, 2010",NaN,47126.4
64,FIPS Code,NaN,"""36"""

In [47]:
df_census_new_york.to_csv('census_data_new_york.csv', index=False)